.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94vh;
  justify-content: center;
 }

 .notice {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
  padding: 15px;
  margin-bottom: 15px;
}

.alert {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  padding: 15px;
  margin-bottom: 15px;
}