<%= form_with url: perform_upload_path, local: true, html: { multipart: true } do |form| %>
  <div>
    <%= form.label :file, "Escolha um arquivo para enviar:" %>
      
  </div>
  <div>
    <%= form.file_field :file %>
  </div>
  <div class = 'submit-button'>
    <%= form.submit 'Enviar' %>
  </div>
<% end %>